.create-album-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f50;
  color: #fff;
  font-size: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 0.5em;
}

.create-album-btn button:hover {
  font-weight: 700;
  color: black;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.upload-album-form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 1.5;
}
