.all-songs-wrapper {
  background: white;
  padding: 60px 10px 120px;
}

.songs-list-full-wrapper h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.all-songs-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
}

.song-card {
  width: 300px;
  margin: 5px 10px 15px 10px;
}

.song-card p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  padding: 3px;
  font-weight: 700;
}

.card-img-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 294px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.card-img-wrapper img {
  width: 100%;
}

.play-action-overlay {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(26, 26, 26, 0.2) 40%,
    rgba(255, 255, 255, 0.5) 100%
  );
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: all 250ms;
  width: 100%;
}

.play-action-overlay:hover {
  opacity: 1;
}

.play-action-overlay .list-style-play-btn {
  margin-bottom: 0;
}

.song-link-text {
  color: #0f1010;
  transition: all 250ms;
}

.song-link-text:hover {
  color: #ff5501;
  font-weight: 700;
}

.fa-play {
  padding: 1rem;
}

.player-box {
  padding: 1rem;
  margin-top: 20px;
}

.play-button-allsongs {
  color: white;
  align-items: center;
  background: black;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
}

.play-button-allsongs:hover {
  background-color: #ff5501;
  transform: scale(1.5);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
