.stream-page-button {
  background-color: #4b8188;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.song-link-text {
  font-size: 1em;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  padding: 2px;
}

.songs-list-full-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
