#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  justify-content: center;
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  position: absolute;
  background-color: white;
  box-shadow: #f50 0px 0px 15px 1px;
}

.label-div {
  padding: 5px 2px;
}
