.all-albums-wrapper {
  padding: 5rem 7rem 10rem;
}

.all-albums-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
}

.album-card {
  width: 300px;
  margin: 5px 10px 15px 10px;
  background-color: transparent;
  border: 3px solid #fff;
  padding: 10px;
  border-radius: 10px;
}

.album-card p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  padding: 3px;
  font-weight: 700;
  border: black 1px solid;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 6px;
}

.album-link-text:hover {
  color: #ff5501;
  font-weight: 700;
}

.card-img-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 294px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.album-link-text {
  color: #0f1010;
  transition: all 250ms;
}

html {
  background: url(../../images/caught-in-joy-ptVBlniJi50-unsplash.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
