.album-detail-container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.album-detail-container {
  background-color: transparent;
}

.album-detail-body-left {
  /* background-color: aqua; */
}

.album-detail-body-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.807);
  border-radius: 10px;
}

.album-preview-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  height: 25em;
  width: 25em;
}

.album-preview-image img {
  width: 20em;
}

.album-detail-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5em 3em;
  background-color: rgba(255, 255, 255, 0.828);
  border-radius: 10px;
  line-height: 1.4;
}

.album-song-list-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid black;
}

.album-song-list-header {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid black;
  width: 18em;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    140deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 60%,
    rgba(252, 176, 69, 1) 100%
  );
}

.fa-circle-play {
  font-size: 3em;
}

.fa-solid {
  /* background-color: transparent; */
}
