* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav > div {
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
