.top-splash {
  background-color: transparent;
  padding: 0 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.active {
  color: #fff;
  font-weight: 700;
}

.nav-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

nav a {
  color: white;
}

.nav-right button + button {
  background-color: #ff5501;
  border-color: #ff5501;
  color: #fff;
  height: 30px;
  margin: 5px;
  padding: 4px 15px;
  border: 1px solid #ff5501;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.nav-right button {
  background-color: transparent;
  margin: 5px;
  border-color: white;
  color: #fff;
  height: 30px;
  margin: 0;
  padding: 4px 15px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.nav-left {
  background-color: transparent;
  border-color: white;
  color: rgb(255, 255, 255);
  height: 30px;
  margin: 0;
  padding: 4px 15px;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.search-bar {
  border: 1px solid #ff5501;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  padding: 3px;
  width: 50%;
  box-shadow: 8px 8px 12px #ff560171;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 3px;
}

.logo-image {
  display: flex;
  flex-direction: row;
  margin: 10px 15px;
  align-items: flex-start;
  height: 1.6em;
}

.logo-container {
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-around;
}
.profile-dropdown {
  position: absolute;
  right: 2%;
  top: 3%;
  background-color: #ff5501;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 1em;
}

@media screen and (max-width: 1260px) {
  nav {
    padding-right: 20px;
  }
}

.banner-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_b@2x-7e5ff471.jpg);
  background-size: cover;
  height: 450px;
}
.nav-right {
  margin: 0;
}

.logged-in-banner {
  display: flex;
  background-color: rgb(66, 62, 62);
  justify-content: space-around;
  align-items: center;
  box-shadow: black 5px 5px 20px;
}

.logged-in-banner a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

#root > nav > button {
  background-color: #ffffff;
  border-radius: 50%;
}
