.top-splash {
  background-color: #333333;
  padding: 0 5px;
  display: flex;
  justify-content: flex-end;
}
.active {
  color: #fff;
  font-weight: 800;
}
nav {
  background-color: aqua;
  padding: 0 10px;
}

.top-splash li {
  background-color: blueviolet;
  padding: 0 5px;
}

.nav-right {
  background-color: crimson;
}

.nav-li {
  color: blue;
}

nav a {
  color: white;
  padding: 0 5px;
}

.signup {
  background-color: #ff5501;
  border-color: #ff5501;
  color: #fff;
  height: 30px;
  margin: 0;
  padding: 4px 15px;
  border: 1px solid #ff5501;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.login-btn {
  background-color: transparent;
  border-color: #e5e5e5;
  margin-right: 10px;
}
