nav {
  background: #fff;
  box-shadow: 0 10px 25px rgb(0 0 0 / 30%);
  position: fixed;
  top: 0%;
  width: 100%;
}
nav div {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
nav ul {
  list-style: none;
  margin: 0;
  align-items: stretch;
  display: flex;
  align-items: center;
}
.nav-right {
  position: absolute;
  right: 20px;

  padding: 10px;
}
.nav-right li {
  display: flex;
  position: relative;
}

.top-spash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
}
