.login-btn {
  display: inline-block;
  text-align: center;
  background-color: #f50;
  color: #fff;
  width: 10em;
  height: 2em;
  font-size: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.guest-login-btn {
  display: inline-block;
  text-align: center;
  background-color: lightgray;
  color: black;
  width: 10em;
  height: 2em;
  font-size: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.auth-separator {
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.auth-separator::after {
  border-top: 1px solid #333;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0.7em;
  right: 0.7em;
  width: 43%;
}

.auth-separator::before {
  border-top: 1px solid #333;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0.7em;
  left: 0.7em;
  width: 43%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Abel", sans-serif;
  font-size: 16px;
  padding: 10px;
}
