.song-portal-lrg {
  background: rgba(255, 98, 0, 0.631);
  margin: 0 auto;
  max-width: 1240px;
}

.song-portal-lrg > div {
  display: flex;
  justify-content: space-between;
  padding: 65px 20px 20px;
}

.song-portal-lrg h2,
.song-portal-lrg h3 {
  background: #fff;
  padding: 0 6px;
}

.song-portal-lrg h2 {
  font-size: 42px;
}

.song-portal-lrg h3 {
  font-size: 26px;
  margin-top: 10px;
}

.song-img-lrg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  width: 340px;
}

.primary-play-btn {
  align-items: center;
  background: #e916c7;
  border: 1px solid #e916c7;
  border-radius: 50%;
  display: flex;
  height: 45px;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  width: 45px;
}

.primary-play-btn i {
  font-size: 15px;
  position: absolute;
  right: 14px;
}

.primary-play-btn:hover {
  border: 1px solid #fff;
  transform: scale(1.1);
}

.portal-song-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portal-edit-btn {
  margin-right: 10px;
}

.song-hero-link {
  color: black;
}

.song-hero-link h3 {
  display: inline-block;
}
